<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#d6ffb5;">
    <h1><FONT SIZE=9 COLOR="green">G</FONT><FONT SIZE=6>alerias del </FONT> 
    <FONT SIZE=9 COLOR="green">A</FONT><FONT SIZE=7>rte</FONT></h1>
    <h2>Conocé las variedades</h2>
    <p>En esta pagina podrás conocer los diferentes estilos </p>
    <img src="../public/notasMusicales.png"/>
</body>
</html>