<!DOCTYPE html>
<html lang="en">
<head>
    <h1><FONT SIZE=9 COLOR="red">G</FONT><FONT SIZE=5>alerias del </FONT> 
    <FONT SIZE=9 COLOR="red">A</FONT><FONT SIZE=5>rte</FONT></h1>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>Conocé las variedades</h2>
    <html>En esta pagina podrás conocer los diferentes estilos 
        de artes y musicas que capas desconoscas ya no tienes cultura artistica jajaja</html>
    </head>
<body>
    <body style="background-color:#C7FF99;">
    </body>
</body>
<body>
    <img src="https://img/notasMusicales.png"/>
    <img src="notasMusicales.png" height="50px" width="150px"/>
<img src="notasMusicales.png" height="50%" width="150%"/>
</body>
</html>