<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Galearias del arte </h1>
    <h2>Conocé las variedades</h2>
    <html>En esta pagina podrás conocer los diferentes estilos 
        de artes y musicas que capas desconoscas ya no tienes cultura artistica jajaja</html>
</head>
<body>
    <img src="notas musicales.jpg"/>
    <img src="https://www.google.com/search?q=imagenes+de+artes+y+musicas+jpg&tbm=
    isch&ved=2ahUKEwjs87KU_6H6AhVks5UCHSR3AoEQ2-cCegQIABAA&oq=imagenes+de+artes+y+musicas+jpg&gs_lcp=
    CgNpbWcQAzoECCMQJ1CKB1iQG2D8HmgAcAB4AIABQYgB1wKSAQE2mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=EvkoY-yiJ-
    Tm1sQPpO6JiAg&bih=789&biw=1440&rlz=1C1CHZN_esAR994AR994#imgrc=AQ03y9yUEMv7mM/notas musicales.jpg"/>
</body>
</html>