<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color:#d6ffb5;">
    <h1</h1>
    <TITLE>Artes Online</TITLE>
    <STYLE type="text/css">
    H1 { text-align: center}
    </STYLE>
    <BODY>
    <H1> Artes Online</H1>
    <center><img src="../public/art.png" alt="centered image" height="350" width="450"> </center>
    <p>
        Internet se a convertido en un sitio muy importante para los museos, galerias de arte y artistas por su propia cuenta,
        muestren exposiciones online.
    </p>

    <div class ="text">
        <h2>Galerias de instituciones de arte</h2>
        <a>
            _Google arts & culture museos
        </a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#GoogleArts">Click Aqui</a>
        <a>
            _Arkiuc Fotografic
        </a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#ArxiuFotografic">Click Aqui</a>
    </div>
    <div class ="text">
        <h2>Plataformas marketplace artes</h2>
        <a>_Saatchi art</a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#SaatchiArt">Click Aqui</a>
        <a>_Virtual Gallery</a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#VirtualGallery">Click Aqui</a>
    </div>
    <div class ="text">
        <h2>Galerias portfoli de artistas</h2>
        <a>_Gozar Gallery</a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#GozarGallery">Click Aqui</a>
    </div>
    <div class="text">
        <h2>Galerias Virtuales 3D</h2>
        <a>_People art factory</a>
        <a href="https://www.razgo.net/blog/galerias-virtuales-arte-online/#PeopleArtFactory">Click Aqui</a>
    </div>

    <!--<h1><FONT SIZE=9 COLOR="green">G</FONT><FONT SIZE=6>alerias del </FONT> </>
        <FONT SIZE=9 COLOR="green">A</FONT><FONT SIZE=7>rte</FONT></h1>
        <h2>Conocé las variedades</h2>
        <a href="http://laweb.com">A recorrer :)</a>-->
</body>    
</html>